╔════════════════════════════════════════════════╗
║ Results:                                       ║
║ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═║
{{ range $i, $c := .Crops -}}
║ {{add $i 1}}.                                             ║
║ Name: {{title $c.Name}}                                ║
║ Seeds: {{title $c.Info.Seed}}                         ║
║ Growth Time: {{$c.Info.GrowthTime}} days                           ║
║ Season: {{season $c.Info.Season}}                                 ║
║ Seed Price:                                    ║
║   * Oasis: 400g                                ║
{{ if ge (len $c.Bundles) 1 -}}
║ Bundles:                                        ║
{{ range $q := $c.Bundles -}}
║   * {{print $q | safe}}                           ║
{{ end -}}
{{ end -}}
{{ if ge (len $c.Recipes) 1 -}}
║ Recipes:                                        ║
{{ range $q := $c.Recipes -}}
║   * {{print $q | safe}}                           ║
{{ end -}}
{{ end -}}
{{ if ge (len $c.Quests) 1 -}}
║ Quests:                                        ║
{{ range $q := $c.Quests -}}
║   * {{print $q | safe}}                           ║
{{ end -}}
{{ end -}}
{{ if ge (len $c.Quests) 1 -}}
║ Notes:                                         ║
{{ range $q := $c.Notes -}}
{{ lineSplit $q 42 | printf "%s" | safe}}
{{ end -}}
{{ end -}}
{{ end -}}
╚════════════════════════════════════════════════╝
