╔════════════════════════════════════════════════╗
║ Results:                                       ║
║ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═║
{{ range $i, $c := .Crops -}}
{{ if gt $i 0 -}}
║ {{ pad 46 ""}} ║
{{end -}}
║ {{add $i 1 | printf "%d." | pad 46 }} ║
║ Name: {{pad 40 $c.Name | title}} ║
║ Seeds: {{pad 39 $c.Info.Seed | title}} ║
║ Growth Time: {{printf "%d days" $c.Info.GrowthTime | pad 33}} ║
║ Season: {{season $c.Info.Season | pad 38 }} ║
{{ if $c.Info.Continual -}}
║ Continual: Yes                                 ║
║ Regrowth: {{printf "%d days" $c.Info.Regrowth | pad 36}} ║
{{end -}}
║ Seed Price:                                    ║
{{ if gt $c.SeedPrices.GeneralStore 0 -}}
║   * General Store: {{printf "%dg" $c.SeedPrices.GeneralStore | pad 27}} ║
{{end -}}
{{ if gt $c.SeedPrices.JojaMart 0 -}}
║   * JojaMart: {{printf "%dg" $c.SeedPrices.JojaMart | pad 32}} ║
{{end -}}
{{ $tc := $c.SeedPrices.TravelingCart -}}
{{ if gt $tc.Min 0 -}}
║   * Traveling Cart:                            ║
║      * Min: {{printf "%dg" $tc.Min | pad 34}} ║
║      * Max: {{printf "%dg" $tc.Max | pad 34}} ║
{{end -}}
{{ if gt $c.SeedPrices.Oasis 0 -}}
║   * Oasis: {{printf "%dg" $c.SeedPrices.Oasis | pad 35}} ║
{{end -}}
{{ if gt $c.SeedPrices.EggFestival 0 -}}
║   * Egg Festival: {{printf "%dg" $c.SeedPrices.EggFestival | pad 28}} ║
{{end -}}
{{ if ge (len $c.Bundles) 1 -}}
║ Bundles:                                       ║
{{ range $q := $c.Bundles -}}
{{ range $l := lineSplit $q 42 -}}
║ {{- printf "%s" $l | safe -}} ║
{{ end -}}
{{ end -}}
{{ end -}}
{{ if ge (len $c.Recipes) 1 -}}
║ Recipes:                                       ║
{{ range $q := $c.Recipes -}}
{{ range $l := lineSplit $q 42 -}}
║ {{- printf "%s" $l | safe -}} ║
{{ end -}}
{{ end -}}
{{ end -}}
{{ if ge (len $c.Quests) 1 -}}
║ Quests:                                        ║
{{ range $q := $c.Quests -}}
{{ range $l := lineSplit $q 42 -}}
║ {{- printf "%s" $l | safe -}} ║
{{ end -}}
{{ end -}}
{{ end -}}
{{ if ge (len $c.Notes) 1 -}}
║ Notes:                                         ║
{{ range $q := $c.Notes -}}
{{ range $l := lineSplit $q 42 -}}
║ {{- printf "%s" $l | safe -}} ║
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
╚════════════════════════════════════════════════╝
