╔════════════════════════════════════════════════╗
║ Results:                                       ║
║ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═║
{{ range $i, $c := .Crops -}}
║ {{add $i 1 | printf "%d." | pad 46 }} ║
║ Name: {{pad 40 $c.Name | title}} ║
║ Seeds: {{pad 39 $c.Info.Seed | title}} ║
║ Growth Time: {{printf "%d days" $c.Info.GrowthTime | pad 33}} ║
║ Season: {{season $c.Info.Season | pad 38 }} ║
║ Seed Price:                                    ║
║   * Oasis: 400g                                ║
{{ if ge (len $c.Bundles) 1 -}}
║ Bundles:                                       ║
{{ range $q := $c.Bundles -}}
{{ lineSplit $q 42 | printf "%s" | safe}}
{{ end -}}
{{ end -}}
{{ if ge (len $c.Recipes) 1 -}}
║ Recipes:                                       ║
{{ range $q := $c.Recipes -}}
{{ lineSplit $q 42 | printf "%s" | safe}}
{{ end -}}
{{ end -}}
{{ if ge (len $c.Quests) 1 -}}
║ Quests:                                        ║
{{ range $q := $c.Quests -}}
{{ lineSplit $q 42 | printf "%s" | safe}}
{{ end -}}
{{ end -}}
{{ if ge (len $c.Quests) 1 -}}
║ Notes:                                         ║
{{ range $q := $c.Notes -}}
{{ lineSplit $q 42 | printf "%s" | safe}}
{{ end -}}
{{ end -}}
{{ end -}}
╚════════════════════════════════════════════════╝
